{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазинище</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <nav id="navbar">
        <ul class="main__menu">
            <li class="menu__item"><a href="{% url 'index' %}">Курсы</a></li>
            <li class="menu__item"><a href="{% url 'schedule_list' %}">Расписание</a></li>
                {% if user.cart %}
            <li class="menu__item"><a href="{% url 'cart' %}">Корзина</a></li>
                {% endif %}
            <li class="menu__item"><a href="#">Контакты</a></li>
                {% if user.is_authenticated %}
            <li class="menu__item"><a href="{% url 'orders' %}">История заказов</a></li>
            <li class="menu__item"><a href="{% url 'logout' %}">Выход</a></li>
                {% else %}
            <li class="menu__item"><a href="{% url 'login' %}">Авторизация</a></li>
                {% endif %}
        </ul>
    </nav>
</header>
<div id="content__wrapper">
    <h1>{% block title %}{% endblock %}</h1>
    <div id="content">
        {% block content %}{% endblock %}
        {% if is_paginated %}
            {% include 'pagination.html' with page=page %}
        {% endif %}
    </div>
</div>
</body>
</html>